@charset "utf-8";
/* CSS Document */

/*FUENTES TIPOGRÁFICAS*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

*{
	margin: 0px;
	padding:0px;
}
/*HEADER*/
header{
	position: fixed;
}
.botonera {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 40px 0px 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 65px;
	box-sizing: border-box;
	position: fixed;
	transition: opacity 0.5s; 
	opacity: 1; 
}
.botonera.scrolled {
	opacity: 0.2; 
	background-color: #ffffff;
}
.botonera.scrolled:hover{
	opacity: 1; 
	background-color: #ffffff;
}
.botonera ul {
	list-style: none;
	display: flex;
	gap:20px; 
}
.botonera ul li a:hover {
	opacity: 0.5;
}
/* ZONA DE BIENVENIDA OMA*/
h1{
	font-family: 'Space Grotesk', sans-serif; 
	font-size: 260px;
	font-weight: 700;
	line-height: normal;
	color: #5151FC;
	animation: aparecerDesdeIzquierda 3s ease forwards;
	animation-iteration-count:1;
	animation-direction: alternate;
}
@keyframes aparecerDesdeIzquierda {
from {
	transform: translateX(-100%); 
	opacity: 0;
}
to {
	transform: translateX(0);
	opacity: 1; 
}
}
p{
	color: #101011;
	font-family: 'Barlow', sans-serif; 
	font-size: 28px;
	font-weight: 400;
	line-height: normal;
}
.p .bold{
	font-weight: 900;
}
p.subtitulo{
	color:#F5F5F5;
	background-color: #000000;
	padding:10px;
	text-align: center;
}
.mayuscula {
	text-transform: uppercase;
	max-width: 650px;
}

/*LISTADO DE CUALIDADES OMA*/
li{ 
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 11.04px;
	color: #F5F5F5;
	list-style-type: none;
	font-variant: all-small-caps;
}
li normal{
	letter-spacing: 0;
}

/*CAMPEONES*/
h3{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #101011;
	padding: 10px 20px;
}

/*TÍTULOS*/
h2{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 28px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #5151FC;
	padding: 20px 20px 20px 60px;
	max-width: 30%;
}

/*TÍTULO: MES OCTUBRE*/
h5{
	color: #F5F5F5;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: 'Barlow', sans-serif;
	font-size: 56px;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 32px;
	text-transform: uppercase;
	padding: 100px 0px 40px 0px;
}
.regular{
	font-weight: 400;
}

p preguntas{
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
}

menu{
	font-family: 'Barlow', sans-serif; 
	font-size: 96px;
	font-weight: 300;
	line-height: normal;
	color: #FFF;
	text-align: center;
}
menu bold{
	font-weight: 700;
}
/*FOOTER*/
footer{ 
	background-color: #101011;
	display: flex;
	width: 100%;
	flex-shrink: 0;
	padding: 20px 60px 20px 100px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
footer p { 
	font-size: 16px;
	color:#F5F5F5;
}
.itemslegales{
	width: 50%;
	display:flex;
	flex-wrap: wrap;
	gap:40px;
}
.redesenfooter{
	display:flex;
	width:25%;
	align-content: center;
	gap:10px;
	padding-left: 100px;
}
.omafooter{
	display:flex;
	width:25%;
	align-content: center;
}

/*INDEX*/
.seccion1 main{
	width: 100%;
	background-color: #e5e5e5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.seccion1 {
	display: flex;
	
	width:100%;
	height: 750px;
	padding-top:80px;
	gap:50px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.contenedor-seccion1{
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.cube {
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	animation: spin 10s linear infinite;
	transform: rotateX(30deg) rotateY(45deg);
}
@keyframes changeColor {
0% {
	color: #f5f5f5; 
}
50% {
	color: #000000; 
	background-color: #e5e5e5;
	opacity: 0.5;
}
100% {
	color: #000000; 
	background-color: #5151FC;
}
}
.face {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 4px solid #101011; /* Líneas más gruesas */
	background: transparent;
	animation: changeColor 5s infinite;
}
.front {
	transform: translateZ(150px);
	background-color: #101011;
	animation: none;
}
.back {
	transform: rotateY(180deg) translateZ(150px);
}
.left {
	transform: rotateY(-90deg) translateZ(150px);
}
.right {
	transform: rotateY(90deg) translateZ(150px);
}
.top {
	transform: rotateX(90deg) translateZ(150px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(150px);
}
@keyframes spin {
0% {
	transform: rotateX(30deg) rotateY(45deg);
}
100% {
	transform: rotateX(30deg) rotateY(405deg);
}
}
.presentacion {
	display: flex;
	width: 50%;
	height: 701px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.presentacion img{
	display: flex;
	align-items: flex-start;
}
.presentacion2 {
	display:flex;
	flex-direction: column;
	padding-top:80px;
	width: 50%;
	box-sizing: border-box;
}
.flecha{
	display: flex;
	height: 106px;
	justify-content: center;
	align-items: center;
	gap: 12px;
	left: 3px;
	padding-bottom: 60px;
	animation: movimiento 1s ease-in-out infinite;
}
.seccion2 {
	display: flex;
	height: 700px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: var(--Negro, #101011);
}
.seccion2 div{
	display: flex;
	align-items: center;
	height:100px;
	gap: 80px;
}
.seccion3{
	display: flex;
	box-sizing: border-box;
}
.introdescripcion{
	display:flex;
	align-content: center;
	flex-direction: column;
	width:50%;
	background: #ABABFF;
	box-sizing: border-box;
	justify-content: center;
	padding-left: 140px;
	}
.introdescripcion .boton_competencias{
	font-size:36px;
}
.galeria{
	width:50%;
	box-sizing: border-box;
}
.seccion4{
	/*height:120vh;*/
	padding-left: 150px;
	background-color: #101011;
	padding-top: 60px;
}
/*GALERIA*/
.galeriacontainer{
	display: flex;
	width:100%;
	height: 90vh;
	background-color: #f5f5f5;
	box-sizing: border-box;
	position: relative;
}
.item{
	width:10%;
	height:20%;
	background-position: 50% 50%;
	display: inline-block;
	transition: 0.5s;
	background-size: cover;
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
	border-radius: 5px;
	box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
	left:0;
	top:0;
	transform: translate(0,0);
	border-radius: 0;
	width:100%;
	height:100%;
	box-shadow: none;
}
.item:nth-child(3){
	left:50%;
}
.item:nth-child(4){
	left:calc(50% + 150px);
}
.item:nth-child(5){
	left:calc(50% + 300px);
}
.item:nth-child(n+6){
	left:calc(50% + 350px);
	opacity: 0;
}
.content{
	background-color: #000000;
	padding: 40px;
}
.item .content{
	opacity:1;
	position: absolute;
	top:50%;
	left:100px;
	width:300px;
	text-align: left;
	color:#eee;
	transform: translate(0,-50%);
	display: none;
	font-family: 'Barlow';
}
.item:nth-child(2) .content{
	display: block;
	z-index: 11111;
}
.item .name{
	opacity: 1;
	font-size: 40px;
	font-weight: bold;
	animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
	margin:20px 0;
	opacity: 1;
	animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
	padding:10px 20px;
	border:none;
	opacity: 0;
	animation:showcontent 1s ease-in-out 0.6s 1 forwards;

}
button:hover{
	background-color: #5151FC;
	opacity: 0.8;
}
.arrow-left, .arrow-right {
	font-size: 16px;
	color: #000; 
}
@keyframes showcontent{
from{
	opacity: 0;
	transform: translate(0,100px);
	filter:blur(33px);
}
to{
	opacity: 1;
	transform: translate(0,0);
	filter:blur(0);
}
}
.buttons{
	position: absolute;
	bottom:20px;
	z-index: 222222;
	text-align: center;
	align-items: center;
	justify-content: center;
	width:100%;
	margin-bottom: 20px;
}
.buttons button{
	width:50px;
	height:50px;
	border-radius: 50%;
	border:1px solid #f5f5f5;
	transition: 0.5s;
	margin: 0 10px;
}
.buttons button:hover{
	background-color: #5151FC;
}
.seccion5{
	background-color: #5151FC;
	height: 100%;
	display: flex;
	padding: 80px 90px;
	gap: 30px;
	align-items: center;
	align-self: center;
	justify-content: center;
}
.tarjetas-index{
	padding: 40px;
	flex-direction: column;
	border-radius: 40px;
	border: 2px solid #000;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 400px; 
	height: 400px;
}
.nombrefoto{
	display: flex;
	padding-bottom: 20px;
	gap: 40px;
	align-items: center;
}
.nombrefoto img{
	height: 60px;
	width: 60px;
	border-radius: 100px;
	display: flex;
	justify-content: flex-end;
}
h4{
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-variant: small-caps;
}
.comentario{
	border-top: 2px solid #101011;
	padding-top: 10px;
}
.p-seccion5{
	font-family: 'Barlow', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #101011;
	text-wrap: balance;
}
h6{
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-variant: small-caps;
	color: #101011;
	padding-top: 40px;
}
.video{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #101011;
}
.seccion6{
	background-color: #F5F5F5;
	padding: 0px 0px 40px 0px;
}
/*preguntas frecuentes*/
.container {
	margin: 0 auto;
	padding: 4rem;
	width: 70%;
	display: flex;
	justify-content: center;
}
.accordion .accordion-item {
	border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
	border-bottom: 1px solid #5151FC;
}
.accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 20px 20px 20px 0px;
	color: #101011;
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}
.accordion button:hover,
.accordion button:focus {
	cursor: pointer;
	color: #5151FC;
}
.accordion button:hover::after,
.accordion button:focus::after {
	cursor: pointer;
	color: #5151FC;
	border: 1px solid #5151FC;
}
.accordion button .accordion-title {
	padding: 1em 1.5em 1em 0;
	font-size: 24px;
	font-weight: 500;
	color: #101011;
	font-family: 'Barlow', sans-serif;
}
.accordion button .icon {
	position: absolute;
	top: 31px;
	right: 0;
	width: 20px;
	height: 20px;
	border: 2px solid;
	border-radius: 22px;
}
.accordion button .icon::before {
	display: block;
	position: absolute;
	content: '';
	top: 9px;
	left: 5px;
	width: 10px;
	height: 2px;
	background: currentColor;
}
.accordion button .icon::after {
	display: block;
	position: absolute;
	content: '';
	top: 5px;
	left: 9px;
	width: 2px;
	height: 10px;
	background: currentColor;
}
.accordion button[aria-expanded='true'] {
	color: #5151FC;
}
.accordion button[aria-expanded='true'] .icon::after {
	width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
	opacity: 1;
	max-height: 9em;
	transition: all 200ms linear;
	will-change: opacity, max-height;
}
.accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
}
.accordion .accordion-content p {
	font-size: 20px;
	font-weight: 400;
	margin: 20px 20px 30px 55px;
	max-width: 60%;
	box-sizing: border-box;
}
/*grilla*/
.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 60px;
	grid-row-gap: 20px;
	align-items:end;
	padding: 20px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; 
	border-bottom: 2px solid #F5F5F5;
}
.div2 { grid-area: 1 / 2 / 2 / 3; 
border-bottom: 2px solid #F5F5F5;
}
.div3 { grid-area: 1 / 3 / 2 / 4; 
border-bottom: 2px solid #F5F5F5;
}
.div4 { grid-area: 2 / 1 / 3 / 2; 
border-bottom: 2px solid #F5F5F5;
}
.div5 { grid-area: 2 / 2 / 3 / 3; 
border-bottom: 2px solid #F5F5F5;
}
.div6 { grid-area: 2 / 3 / 3 / 4; 
border-bottom: 2px solid #F5F5F5;
}
.div7 { grid-area: 3 / 1 / 4 / 2; 
border-bottom: 2px solid #F5F5F5;
}
.div8 { grid-area: 3 / 2 / 4 / 3; 
border-bottom: 2px solid #F5F5F5;
}
.div9 { grid-area: 3 / 3 / 4 / 4; 
border-bottom: 2px solid #F5F5F5;
}
.div10 { grid-area: 4 / 1 / 5 / 2; 
border-bottom: 2px solid #F5F5F5;
}
.div11 { grid-area: 4 / 2 / 5 / 3; 
border-bottom: 2px solid #F5F5F5;
}
.div12 { grid-area: 4 / 3 / 5 / 4; 
border-bottom: 2px solid #F5F5F5;
}
/*INDEX MENÚ HAMBURGUESA*/
a{
	text-decoration: none;
}
.bodymenu{
	background-color: #101011;
}
.menuhamburguesa{
	text-align: center;
	padding: 150px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.menulight {
	font: 300 70px/normal 'Barlow', sans-serif;
	color: #F5F5F5;
	padding: 15px;
}
.menulight:hover {
	color: #101011; 
	background-color: #5151FC;
}

.menubold {
	font: 700 70px/normal 'Space Grotesk', sans-serif;
	color: #F5F5F5;
	padding: 15px;
}
.menubold:hover {
	color: #101011; 
	background-color: #5151FC;
}

.iconosredesmenu{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/*SOBRE NOSOTROS*/ 
#background_alumna {
	background-image: url("img/img_grande_alumna.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	max-height: 10%;
	width: 100%;
} 
.sectionsobrenosotros {
	display:flex;
	flex-direction: row;
	justify-content: center;
	min-height: 100vh;
}
.h3_titulo_nosotros {
	font-family:'Space Grotesk', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: normal;
	color: #101011;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	display:flex;
	padding: 10px 30px;
}
.caja_centro_nosotros {
	background-color: #ABABFF;
	border-radius: 0px 40px 50px 0px;
	padding: 80px 30px 80px 65px;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	width: 100%; 
	margin-top: 7%;
}
.caja_derecha_nosotros {
	padding: 80px 30px 80px 65px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	width: 100%; 
	margin-top: 7%;
}
.parrafos_nosotros {
	font-family:'Barlow', sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: normal;
	color: #101011;
	margin-top: 70px;
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	text-align:left;
	width: 82%;
}
.linea-sobrenosotros {
	width: 80%;
	height: 4px;
	background-color: #101011;
}
.boton_competencias {
	font-family:'Barlow', sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: normal;
	background-color: #5151FC;
	color: #FFFFFF;
	padding: 12px 26px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 50px;
	border: none;
}
.boton_competencias:hover {
	background-color: #000000;
}
.icon-container {
	display: none;
}
/*COMPETENCIAS*/
.competencia {
	background-color: #ABABFF;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	min-height: 85vh;
}
.competencias{
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width:100%;
	flex-wrap: wrap;
	padding-top: 40px;
}
.tarjetas{
	display: flex;
	padding: 20px;
	flex-direction: column;
	border-radius: 40px;
	border: 1px solid #000;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	height: 500px;
}
.tarjetas img{
	border-radius: 20px;
}
.pcompetencias{
	font: 700 30px 'Space Grotesk', sans-serif;
	padding-top: 20px;
}

.ptarjetas {
	color: #101011;
	font: 400 18px/normal 'Barlow', sans-serif;
	border-top: 3px solid #101011;
	padding-top: 25px;
}
/*INSCRIPCIÓN*/
.formulario {
	background-color: #F5F5F5;
	padding: 150px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    align-content: space-around;
}
.formulario h2 {
	padding: 40px 2px 40px 50px;
	background-color: #5151FC;
	margin-bottom: 25px;
}
form {
	padding: 20px;
	width: 100%;
	max-width: 1280px;
	box-sizing: border-box;
	height: auto;
	font-family: 'Barlow', sans-serif; 
	font-size: 24px;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex-wrap: nowrap;
	background-color: white;
	border-radius: 15px;
	border: solid thin;
}
form .columnaizquierda {
	width: 50%;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}
label {
	border-radius: 5px;
	display: block;
	height: 40px;
}
.label-uppercase {
	text-transform: uppercase;
}
input {
	width: 85%;
	padding: 10px;
	font-family: 'Barlow', sans-serif; 
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	border-radius: 5px;
	border: none;
	margin-bottom: 5px;
	background-color: #CFCFCF;
}
.opciones_desplegable {
	margin-top: 3px;
}
.contenedor_boton_enviar {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	max-width: 1280px;
}
.enviar {
	margin-top: 25px;
	width: 20%;
	background-color: #5151FC;
	border-radius: 5px;
	color: white;
	display: flex;
	justify-content: center;
}
.enviar:hover{
	background-color: #101011;
}
.label, .input {
	display: inline-block;
}
input[type="date"] {
	width: 200px; 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	font-size: 20px; 
	background-color: #e5e5e5; 
	color: #101011; 
	box-sizing: border-box;
}
select {
	width: 200px; 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	background-color: #fff; 
	color: #101011; 
	font-size: 20px; 
}
select:focus {
	outline: none; 
	border-color: #5151FC; 
	box-shadow: #5151FC;
}
/*MENSAJE*/
.bodymensaje {
	background-color: #5151FC;
	align-content: center;
	display: flex;
	flex-direction: column;
}

.mensajeinscripcion{
	background-color: #5151FC;
	height: 800px;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding: 100px;
}
.h2_inscripcion{
	font: 700 40px/normal 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 0 0 10px 0; 
	max-width: none;
}
.h3_inscripcion{
	font: 400 25px/normal 'Barlow', sans-serif;
	text-transform: uppercase;
	color: #F5F5F5;
}

/*OLIMPÍADAS ÑANDÚ*/

.niandu {
	width: 100%;
	height: 1000px;
	background-color: #ABABFF;
}

.niandu h2 {
	width: 20%;
	background-color: #101011;
	padding: 120px 10px 50px 120px;
}

.informacion_contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.informacion {
	background-color: white;
	border-radius: 50px;
	border:solid thin;
	margin: 50px;
	display: flex;
	gap: 20px;
	max-width: 1280px;
}

.fotogrupal {
	padding: 40px 0px 40px 40px;
	display: flex;
	box-sizing: border-box;
	width: 50%;
}

.fotogrupal img {
	border-radius: 20px;
}

.titulo_participacion, .titulo_calendario {
	width: 80%;
	color: #101011;
	font-family: 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: bold;
}

.titulo_participacion, .titulo_calendario {
	width: 83%;
	padding: 40px 0px 5px 0px;
	border-bottom: solid medium;
}

.titulo_calendario {
	padding: 30px 0px 5px 0px;
}

.niandu_descrip {
	margin-top: 5px;
	font-family: 'Barlow', sans-serif;
	font-size: 19px;
	font-weight: 400;
}

.participacion_col {
	display: flex;
	flex-direction: row;
	align-items: baseline
}

.bloque_oma {
	margin: 10px 0px;
	padding: 10px 30px;
	width: 65%;
	color: white;
	background-color: #5151FC;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.bloque_oma:hover {
	background-color: #ABABFF;
	color: #101011;
}

.info_niandu {
	margin-top: 10px;
}

ol li {
	color: #101011;
	font-family: 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 0px;
}

.columna_der li {
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	font-variant: normal;
	letter-spacing: 0px;
}

.calendario_col {
	display: flex;
	flex-direction: row;
}

.columna_izq, .columna_der {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.columna_der {
	margin-left: 20px;
}

.enunciados_descarga {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	height: 80px;
	margin: 10px 0px;
	padding: 15px 30px;
	border-radius: 35px;
	border: solid thin;
}

.enunciados_descarga p {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.boton_descarga {
	display: flex;
	width: 15%;
	height: 30px;
	padding: 15px;
	color: white;
	background-color: #5151FC;
	border-radius: 20px;
}

.boton_descarga:hover {
	background-color: #ABABFF;
}


/*CONTACTO*/
.section_contenedora_contacto {
	background-color: #5151FC;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.titulo_contacto {
	font-family:'Space Grotesk', sans-serif;
	font-size: 28px;
	font-weight: 700;
	background-color: #000000;
	padding: 40px 2px 40px 40px; 
	display:flex;
	justify-content:center;
	max-width: 60%;
	margin-top: 64px;
}
.contacto_derecha {
	display: flex;
	flex-direction: column;
	width: 45%;
}
.section_infosuperior, .section_emailnovedades {
	background-color: #F5F5F5;
	margin: 50px 0px 0px 175px; 
	border-radius: 28px;
	border-color: #000000;
	border: 1px solid #000;
}

.section_emailnovedades {
	margin-bottom: 50px;
}
.dosrenglones_novedades {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}
.datos_contacto, .section_emailnovedades{ 
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
	gap: 30px;
	padding: 20px 20px 15px 40px;
}
.a_contacto {
	text-decoration: none;
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-size: 24px;
	font-weight: 400;
}
.texto_novedades {
	font-family: 'Barlow', sans-serif;
	color: #101011;
	font-weight: 700;
	font-size: 22px;
}
.mapa_contacto {
	max-width: 80%;
	margin-top: 50px;
}
/*ICONOS*/
.icon-container {
	position: fixed;
	top: 400px; 
	left: 0px; 
	background-color: #f5f5f5;
	padding: 20px;
	opacity: 1;
}
.icon {
	width: 40px; 
	height: 40px; 
	display: flex;
}
.icon:hover{
	border-bottom: 5px solid #000000;
	opacity: 0.5;
}

/*ANIMACIONES*/
@keyframes movimiento {
0% {
	transform: translateY(0px);
}
50% {
	transform: translateY(-20px);
}
100% {
	transform: translateY(0px);
}
}
/*CURSOR*/
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #5151FC; 
    border-radius: 50%; 
    pointer-events: none; 
    display:contents; 
}
/* MEDIA*/
@media (max-width: 600px) {
    .seccion1 {
       display:none;
    }
    .contenedor-seccion1 {
        max-width: 100%;
        padding: 20px;
		flex-wrap: wrap-reverse;
		justify-content: center;
    }
	h1{
		font-size: 100px;
	}
    .presentacion {
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .presentacion img {
        margin-bottom: 20px;
    }
    .presentacion2 {
        width: 100%;
    }
    .flecha {
        display: none; 
    }
    .seccion2 div {
        flex-direction: column;
    }
	.cubo{
		width:60%;
	}
	.cube{
		display:none;
	}
    .introdescripcion {
        width: 100%;
        padding-left: 0;
    }
    .galeria {
        width: 100%;
    }
	.introdescripcion{
		padding: 40px;
	}
	p.mayuscula{
		font-size: 18px;
	}
    .seccion4 {
        padding-left: 20px;
        padding-top: 40px;
    }
    .container {
        padding: 2rem;
    }
	.accordion-item{
		max-width:100%;
	}
    .accordion button .accordion-title {
        font-size: 16px;
    }
    .accordion button .icon {
        top: 16px;
    }
	.accordion .accordion-content p{
		font-size: 14px;
		max-width: 100%;
	}
    .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
	.seccion5{
		flex-direction: column;
	}
	.tarjetas-index{
		max-width: 80%;
	}
	.p-seccion5{
		font-size: 18px;
	}
	h5{
		font-size: 30px;
		padding-left: 20px;
	}
	.seccion1{
		width: 100%;
	}
	.introdescripcion .boton_competencias{
		font-size: 24px;
	}
	.seccion3{
		flex-direction: column;
		max-width: 100%;
	}
	.itemslegales{
		display: none;
	}
	.omafooter{
		display:none;
	}
	.parent {
    display:flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 80%;
	padding-bottom: 80px;
  }
  li{
	font-size:18px;
  }
  .div1{
	border-bottom: none;
  }
  .div4{
	padding-top:30px;
	border-bottom: none;
  }
   .div7{
	padding-top:30px;
	border-bottom: none;
  }
   .div10{
	padding-top:30px;
	border-bottom: none;
  }
  .contenedor-seccion1 img{
	display:none;
  }
	.footer {
		column-gap: 0px;
	}
	/*MENSAJE*/
	.mensajeinscripcion{
		padding: 20px;
	}
	

	/*HEADER*/
	.botonera {
		height: 80px;
		padding: 0px 46px 13px 40px;
		width: 100%;
		box-sizing: border-box;
	}
	.logo, .botonera ul {
		margin-top: 20px;
	}
	/*INDEX MENÚ HAMBURGUESA*/
	.menuhamburguesa{
		padding-top: 250px;
	}
	.menubold{
		font-size: 50px;
	}
	.menulight{
		font-size: 50px;
	}
	.iconosredesmenu img{
		width: 50px;
		height: 50px;
	}
	

	
	/*SOBRE NOSOTROS*/
.sectionsobrenosotros{
		flex-direction: column;
	}
	#background_alumna {
		height: 388px;
		background-size: cover;
		width: 100%;
	}
	.caja_centro_nosotros {
		margin-top: 0px;
		width: inherit;
		border-radius: 0px 0px 50px 0px;
		padding: 50px 50px 55px 65px;
	}
	.caja_derecha_nosotros {
		margin-top: 0px;
		padding: 32px 50px 50px 65px;
		width: inherit;
	}
	.parrafos_nosotros {
		margin-top: 32px;
		font-size: 19px;
		width: 80%;
	}
	.h3_titulo_nosotros {
		font-size: 26px;
	}
	.linea-sobrenosotros {
		height: 3px;
	}
	.boton_competencias{
		margin-top: 50px;
	}

	/*COMPETENCIAS*/
	h2{
		font-size: 28px;
		max-width: 50%;
	}
	.competencia{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.competencias{
		flex-direction: column;
		height: auto;
		padding: 80px 0px;
		gap: 40px;
	}
	.tarjetas{
		width: 325px;
		height: 480px;
		padding: 40px;
	}
	.tarjetas img{
		width: 325px;
		height: 285px;
	}
	.pcompetencias{
		font-size: 30px;
	}
	.ptarjetas{
		font-size: 20px;
	}
	.boton_competencias{
		font-size: 16px;
	}

	
	/*INSCRIPCIÓN*/
	
	
	
	
	/*OLIMPÍADAS ÑANDÚ*/
	.niandu {
	width: 100%;
	height: 1000px;
	background-color: #ABABFF;
}
.niandu h2 {
	width: 20%;
	background-color: #101011;
	padding: 120px 10px 50px 120px;
}
.informacion_contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.informacion {
	background-color: white;
	border-radius: 50px;
	border:solid thin;
	margin: 50px;
	display: flex;
	gap: 20px;
	max-width: 1280px;
}
.fotogrupal {
	padding: 40px 0px 40px 40px;
	display: flex;
	box-sizing: border-box;
	width: 50%;
}
.fotogrupal img {
	border-radius: 20px;
}
.titulo_participacion, .titulo_calendario {
	width: 80%;
	color: #101011;
	font-family: 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: bold;
}
.titulo_participacion, .titulo_calendario {
	width: 83%;
	padding: 40px 0px 5px 0px;
	border-bottom: solid medium;
}
.titulo_calendario {
	padding: 30px 0px 5px 0px;
}
.niandu_descrip {
	width: 70%;
	margin-top: 5px;
	font-family: 'Barlow', sans-serif;
	font-size: 19px;
	font-weight: 400;
}
.participacion_col {
	display: flex;
	flex-direction: row;
	align-items: baseline
}
.bloque_oma {
	margin: 10px 0px;
	padding: 10px 30px;
	width: 65%;
	color: white;
	background-color: #5151FC;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
.info_niandu {
	margin-top: 10px;
}
ol li {
	color: #101011;
	font-family: 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 0px;
}
.columna_der li {
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	font-variant: normal;
	letter-spacing: 0px;
}
.calendario_col {
	display: flex;
	flex-direction: row;
}
.columna_izq, .columna_der {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.columna_der {
	margin-left: 20px;
}
.enunciados_descarga {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	height: 80px;
	margin: 30px 0px 10px;
	padding: 15px 30px;
	border-radius: 35px;
	border: solid thin;
}
.enunciados_descarga p {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.boton_descarga {
	display: flex;
	width: 15%;
	height: 30px;
	padding: 15px;
	color: white;
	background-color: #5151FC;
	border-radius: 20px;
}
.boton_descarga:hover {
	background-color: #ABABFF;
}
/*CONTACTO*/
	.section_contenedora_contacto {
		flex-direction: column;
		align-items: center;
	}
	.contacto_derecha {
		width: 100%;
	}
	.section_infosuperior, .section_emailnovedades {
		margin: 40px 65px 0px 65px;
	}
	.section_emailnovedades {
		margin-bottom: 10px;
	}
	.mapa_contacto {
		width: 80%;
		height: 80%;
	}
	.a_contacto, .texto_novedades {
		font-size: 18px;
	}
	iframe {
		max-width: 100%;
	}

}