@charset "utf-8";
/* CSS Document */

/*FUENTES TIPOGRÁFICAS*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

/* ESTÁN USANDO MUCHAS MEDIDAS FIJAS!!!! No copien los datos duros de figma, por ejemplo, en todos los casos donde hayan establecido ancho de 1920px en realidad establecemos que es el ancho máximo de la pantalla, y no todas las pantallas son del mismo tamaño, o sea que van a necesitar medidas relativas, en porcentajes. También recuerden que si se tomaron el esfuerzo de hacer que el auto-layout funcione, es para no tener que ponerle una altura fija, sino que la altura esté dada por el contenido (objetos internos, margins, paddings y gap). Les recomiendo entrar al inspector e ir destildando algunos de los estilos que establecieron para ver si realmente cambia algo o está de más*
También revisen el material optativo que les puede servir con el menú hamburguesa y el mensaje de inscripción.
Un último dato sobre valores relativos, como no es posible establecer un alto de 100% porque tecnicamente el scroll es infinito, hay otro valor que es vh, o sea viewport heigth, y se usa como porcentaje. Por ejemplo, tengo una pantalla que por sí sola no alcanza los 1080px de alto pero también sé que no todas las pantallas tienen ese alto, puedo darle específicamente a esa página un heigth: 100vh; y funciona igual que con porcentajes.*/

*{
	margin: 0px;
	padding:0px;
}
/*HEADER*/
header{
	position: fixed;
}
.botonera {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 60px 0px 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 65px;
	box-sizing: border-box;
	position: fixed;
}
.botonera ul {
	list-style: none;
	display: flex;
	gap:20px; 
}
/* ZONA DE BIENVENIDA OMA*/
h1{
	font-family: 'Space Grotesk', sans-serif; 
	font-size: 260px;
	font-weight: 700;
	line-height: normal;
	color: #5151FC;
}
h1:hover {
	color: #101011;
	}
p{
	color: #101011;
	font-family: 'Barlow', sans-serif; 
	font-size: 32px;
	font-weight: 400;
	line-height: normal;
}
.p .bold{
	font-weight: 900;
}
p.subtitulo{
	color:#F5F5F5;
	background-color: #000000;
	padding:10px;
	text-align: center;
}
.mayuscula {
  text-transform: uppercase;
  max-width: 650px;
}

/*LISTADO DE CUALIDADES OMA*/
li{ 
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 11.04px;
	color: #F5F5F5;
	list-style-type: none;
	font-variant: all-small-caps;
}
li normal{
	letter-spacing: 0;
}

/*CAMPEONES*/
h3{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #101011;
	padding-left: 20px;
}

/*TÍTULOS*/
h2{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	color: #F5F5F5;
	background-color: #5151FC;
	padding: 80px 20px 20px 60px;
	max-width: 30%;
}

/*TÍTULO: MES OCTUBRE*/
h5{
	color: #F5F5F5;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: 'Barlow', sans-serif;
	font-size: 122px;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 32px;
	text-transform: uppercase;
	padding: 100px 0px;
}
.regular{
	font-weight: 400;
}

p preguntas{
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
}

menu{
	font-family: 'Barlow', sans-serif; 
	font-size: 96px;
	font-weight: 300;
	line-height: normal;
	color: #FFF;
	text-align: center;
}
menu bold{
	font-weight: 700;
}
/*FOOTER*/
footer{ 
	background-color: #101011;
	display: flex;
	width: 100%;
	height: 126px;
	flex-shrink: 0;
	padding: 0px 60px 0px 40px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	
}
footer p { 
	font-size: 16px;
	color:#F5F5F5;
}
.itemslegales{
	width: 50%;
	display:flex;
	flex-wrap: wrap;
	gap:40px;
}
.redesenfooter{
	display:flex;
	width:25%;
	align-content: center;
	gap:10px;
	padding-left: 100px;
}
.omafooter{
	display:flex;
	width:25%;
	align-content: center;
}

/*INDEX*/
.seccion1 {
	display: flex;
	width: 100%;
	height: 750px;
	padding-top:80px;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.presentacion {
	display: flex;
	width: 50%;
	height: 701px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.presentacion img{
	display: flex;
	align-items: flex-start;
}
.presentacion2 {
	display:flex;
	flex-direction: column;
	padding-top:80px;
	max-width: 50%;
	box-sizing: border-box;
}
.flecha{
	display: flex;
	height: 106px;
	justify-content: center;
	align-items: center;
	gap: 12px;
	left: 3px;
	padding-bottom: 60px;
	animation: movimiento 1s ease-in-out infinite;
}
.seccion2 {
	display: flex;
	height: 700px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: var(--Negro, #101011);
}
.seccion2 div{
	display: flex;
	align-items: center;
	height:100px;
	gap: 80px;
}
.seccion3{
	display: flex;
}
.introdescripcion{
	display:flex;
	align-content: center;
	flex-direction: column;
	gap: 100px;
	padding: 300px 200px;
	width:50%;
	background: #ABABFF;
	box-sizing: border-box;
	}
.carrousel ul{
	list-style:none;
}
.carrousel-menu{
	display: none;
}
.carrousel-fotos{
	display: flex;
	gap:10px;
	overflow:auto;
}
.galeria{
	width:50%;
	background:#F5F5F5 ;
	padding: 100px;
	box-sizing: border-box;
}
.seccion4{
	height:1589px;
	padding-left: 150px;
	background-color: #101011;
	padding-top: 60px;
}
.seccion5{
	background-color: #5151FC;
	height: 1245px;
}
.seccion6{
	background-color: #F5F5F5;
	height:1627px;
}
/*INDEX MENÚ HAMBURGUESA*/
a{
	text-decoration: none;
}
.bodymenu{
	background-color: #000000;
}
.menuhamburguesa{
	text-align: center;
	padding: 200px 0px;
}

.menulight {
	font-family:'Barlow', sans-serif;
	font-size: 90px;
	font-weight: 300;
	line-height: normal;
	color: #FFF;

}
.menulight:hover {
	color: #101011; 
	background-color: #5151FC;/*JU: no se bien acá cómo hacer para que el fondo del  hover digamos, quede al mismo tamaño que el texto así como está en el figma*/ 
}

.menubold {
	font-family:'Space Grotesk', sans-serif;
	font-size: 90px;
	font-weight: 700;
	line-height: normal;
	color: #FFF;
}
.menubold:hover {
	color: #101011; 
	background-color: #5151FC; /*JU: no se bien acá cómo hacer para que el fondo del  hover digamos, quede al mismo tamaño que el texto así como está en el figma*/
}

.iconosredesmenu{
 /*aplicar flex y centrar, no pude. JU: creo que ahi va*/
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px; /*habria que ver acá que onda la separacao porque la f queda raro*/
}

/*SOBRE NOSOTROS*/ 
.imgalumna {
	padding: 0px;
	margin: 0px; /*LU: ¿cómo hago para que el pequeño borde blanco que se ve abajo de la imagen desaparezca?, no encuentro de donde proviene*/
}

.sectionsobrenosotros {
	display:flex;
	flex-direction: row;
	justify-content: center;
	/*quiero aplicar column gap pero solo del lado derecho porque el fondo violeta tiene que permanecer "pegado" a la imagen*/
}

.h3_titulo_nosotros {
	font-family:'Space Grotesk', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: normal;
	color: #101011;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 3px 30px 3px 30px;
	/*LU: no sé si es correcto ajustar con margin el fondo de color de "QUE ES OMA".*/
}


.caja_centro_nosotros {
	background-color: #ABABFF;
	border-radius: 0px 20px 20px 0px;
	padding: 80px 30px 80px 50px;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%; /*no sé si esto es correcto*/
	/*LU: tengo que aplicar la propiedad que delimita hasta donde va crecer en ancho el texto, no estoy segura de cual es*/
}

.caja_derecha_nosotros {
	padding: 80px 30px 80px 50px;
	display:flex;
	align-items: left;
	flex-direction: column;
	justify-content:center;
	width: 100%; /*no sé si esto es correcto*/
	/*LU: tengo que aplicar la propiedad que delimita hasta donde va crecer en ancho el texto, no estoy segura de cual es*/
	
}
.parrafos_nosotros {
	font-family:'Barlow', sans-serif;
	font-size: 25px;
	font-weight: 400; /*le puse 400 porque me parecía que se lee mejor que poner 300 de peso*/
	line-height: normal;
	color: #101011;
	/*border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #101011;*/ /*LU:después vemos de resolver la línea abajo de los títulos*/
	margin-top: 20px;
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	text-align:left;
}

.boton_competencias {
	font-family:'Barlow', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
	background-color: #5151FC;
	color: #FFFFFF;
	padding: 8px 18px;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 50px;
	border: none;
	/*LU → para Aimé: es la primera vez que hago un botón así en css, espero estén bien las propiedades*/
}

.boton_competencias:hover {
	background-color: #000000;
}



/*COMPETENCIAS*/

.competencias{
	background-color: #ABABFF;
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 60px 80px;
	align-items: center;
}

.tarjetas{
	display: flex;
	padding: 30px;
	flex-direction: column;
	border-radius: 40px;
	border: 1px solid #000;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	height: 380px;
}

.tarjetas img{
	border-radius: 20px;
	height: 192px;
	width: 220px;
}

.pcompetencias{
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
	padding-top: 20px;
}

.ptarjetas {
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-top: 2px solid #101011;
	padding-top: 25px;
}

@media screen and (max-width: 600px) {
	h2{
		font-size: 35px;
		max-width: 50%;
	}
	.competencias{
		flex-direction: column;
	}
	.tarjetas{
		width: 325px;
		height: 480px;
		padding: 40px;
	}
	.tarjetas img{
		width: 325px;
		height: 285px;
	}
	.pcompetencias{
		font-size: 30px;
	}
}

/*INSCRIPCIÓN*/

.formulario {
	background-color: #F5F5F5;
	padding: 150px;
	width: 100%
}

.formulario h2 {
	padding-top: 40px;
	padding-right: 2px;
	padding-bottom: 40px;
	padding-left: 50px;
	background-color: #5151FC;
}

form {
	padding: 40px;
	width: 100%;
	height: auto;
	font-family: 'Barlow', sans-serif; 
	font-size: 32px;
	font-weight: 400;
	line-height: normal;
	/*border: 1px solid black;*/ 
	display: flex;
	flex-wrap: nowrap;
}

form .columnaizquierda {
	width: 50%;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

form .columnaderecha {
	width: 50%;
	padding: 20px;
	background: white;
	border-radius: 10px;
}

label {
	border-radius: 5px;
	display: block;
	height: 40px;
}

input {
	width: 100%;
	padding: 10px;
	font-family: 'Barlow', sans-serif; 
	font-size: 32px;
	font-weight: 400;
	line-height: normal;
	border-radius: 5px;
	border: none;
	margin-bottom: 5px;
	background-color: #CFCFCF;
}

.enviar {
	margin-top: 30px;
	width: 20%;
	background-color: #5151FC;
	border-radius: 5px;
	color: white;
}
.label, .input {
	display: inline-block;
}


/*MENSAJE*/
.bodymensaje {
	background-color: #5151FC;
	/*text-align: center;*/
	/*JU: habría que ver acá que onda los tamaños de los textos porque en el figma estaba mas grande el texto superior asi que ahi lo cambie, no se si la alineacion quedo bien. yy tambien agregué el header y el footer, de última también después lo corrijo. También no supe como acomodar lo que sería el padding y eso primero porque me lo confundo con el border y también porque cuando ponía se movía TODO con footer y todo asi que nose*/
}

.mensajeinscripcion{
	display: flex;
	width: 1920px;
	height: 800px;
	padding: 100px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}/*JULI: no se si es acá el tema pero hay que ver que el fondo queda como gigante*/
.mensajeinscripcion h2{
	padding-bottom: 20px;
}
.mensajeinscripcion h3{
	font-family: 'Barlow', sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	color: #F5F5F5;
}/*JULI: en figma bocetamos este texto (el h3) en barlow, pero el h2 acá es la spaceG... o se lo cambiamos acá o hay que reveer los estilos. Ahora lo dejo así, pero después lo vemos bien*/

/*OLIMPÍADAS ÑANDÚ*/

.niandu {
	width: 100%;
	height: 1000px;
	background-color: #ABABFF;
}

.niandu h2 {
	width: 20%;
	background-color: #101011;
	padding: 120px 10px 50px 30px;
}

.informacion {
	background-color: white;
	border-radius: 50px;
	border:solid #101011;
	margin: 50px 50px 0px 50px;
	display: flex;
	gap:20px;
}

.fotogrupal {
	padding: 40px 0px 0px 40px;
	display: flex;
	box-sizing: border-box;
	width: 50%;
}
.participacion h3 {
	color: #101011;
	display: flex;
}


/*CONTACTO*/
.section_contenedora_contacto {
	background-color: #5151FC;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}


.titulo_contacto {
	font-family:'Space Grotesk', sans-serif;
	font-size: 45px;
	font-weight: 700;
	background-color: #000000;
	padding: 35px 70px 35px 0px; /*LU: este padding del rectángulo negro tendría que ser igual en todos los títulos de los otros html principalmente el alto*/
	display:flex;
	justify-content:flex-end;
	text-align:right;
	

	/*padding: 30px 0px 30px 200px;
	margin: 0px 1000px 0px 0px;*/ /*LU: esto es lo como había intentado hacer el rectángulo pero se que está mal ya que supera los 100px*/
}


.section_infosuperior, .section_emailnovedades {
	background-color: #F5F5F5;
	width: 100%;
	margin: 50px 0px 0px 175px; /*acá tengo que ver como hacer para alinear los iconos con el título sin poner 175px de margin*/
	border-radius: 35px;
	border-color: #000000;
	border: 1px solid #000;
}

.dosrenglones_novedades {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}


.datos_contacto, .section_emailnovedades{ 
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
	gap: 6%; /*LU: emm acá quise separar el icono de la oración.*/
	padding: 20px 0px 15px 50px;
}

.a_contacto {
	text-decoration: none;
	color: #101011;
	font-family: 'Barlow', sans-serif;
	font-size: 26px;
	font-weight: 400;
}

.texto_novedades {
	font-family: 'Barlow', sans-serif;
	color: #101011;
	font-weight: 700;
	font-size: 25px;
}
/*16/10: volviendo hacer commit porque me mandé una caga** mezclando la carpeta con mi CV :D*/



/*ANIMACIONES*/
@keyframes movimiento {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


